.ContestPreview {
  margin: 1em;
  border: 1px solid #CCCCCC;

  .category-name {
    border-bottom: 1px solid #CCCCCC;
    padding: 0.25em 0.5em;
    font-weight: bold;
    background-color: #EEEEEE;
  }

  .contest-name {
    padding: 0.5em;
  }
}

.link {
  cursor: pointer;
}

.home-link {
  margin-top: 1em;
  color: #0000EE;
}

.margin-top {
  margin-top: 15px;
}
